<header class="masthead text-center text-white">
    <div class="masthead-content">
        <div class="container">
            <img src="" alt="" id="weatherIcon">
            <h2 id="convert" class="masthead-subheading mb-0"><a> Loading... </a></h2> <br>
            <h5 id="summary"> </h5> <br>
            <h6 id="description"></h6> <br> <br> <br>
            <a href="https://darksky.net/poweredby/">Powered by Dark Sky</a>
        </div>
    </div>
    <div class="bg-circle-1 bg-circle"></div>
    <div class="bg-circle-2 bg-circle"></div>
    <div class="bg-circle-3 bg-circle"></div>
    <div class="bg-circle-4 bg-circle"></div>
</header>